<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Class 1</title>
  </head>
  <body>
      <div class="container">
    <h1>This is your class 1</h1>
    <a  href="{{ url_for('take_att') }}" class="btn btn-primary mx-4 my-4" >TakeAttendance</a>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="container my-4">
        <h1>Your previous classes</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">sno</th>
                <th scope="col">Class</th>
                <th scope="col">Date</th>
                <th scope="col">XL-SHEET</th>
              </tr>
            </thead>
            <tbody>
              
               
                {% for dates in date_att %}
                <tr>
                <th scope="row">{{loop.index}}</th>
                <td>Class1</td>
                <td>{{dates}}</td>
                <td><form action="{{ url_for('view_att', date_time = dates) }}" method="post">
                  
                  <input type="submit">
              </form></td></tr>
                {% endfor %}
              {% for dates in date_att_prev %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>Class1</td>
                <td>{{dates}}</td>
                <td><form action="{{ url_for('view_att', date_time = dates) }}" method="post">
                  
                  <input type="submit">
              </form>
              </td>
            </tr>
              {% endfor %}
                
                
                
              
              
              
            </tbody>
          </table>
    </div>


    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>